.description-container {
  border: 1px solid black;
  width: 100%;
  display: block;
}

.content-box {
  margin: 10px 10px;
  border: 1px solid black;
}

.textformat {
  border: 1px solid rgb(255, 24, 24);
}

.content {
  border: 1px solid black;
  background-color: bisque;
  min-height: 150px;
}

.content-display {
  min-height: 150px;
}
